@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
// custom variables
$font-family-sans-serif: "Gowun Dodum", sans-serif;

$yellow: #FFFF71;
$blue: #FFE8AA;
$cyan: #C671FF; // text-info color

$input-border-color: #FFE8AA;
$input-focus-border-color: #FFFF71;

$table-hover-bg: #FFFFEF;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";